@import "tailwindcss";

/* Fix scaling issue */
@layer base {
  html {
    font-size: 16px !important;
  }

  body {
    @apply bg-white text-gray-900;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif !important;
    margin: 0;
    padding: 0;
  }
}
